.App {
  text-align: center;
  max-width: var(--max-width);
  background-color: rgb(225, 225, 225);
  padding: 6rem 0 2rem;
  margin: 0 auto;
}

.App-header {
 position: fixed;
 top: 0;
 padding: 1rem;
 background-color:antiquewhite;
 width: 100%;
 max-width: var(--max-width);
 display: flex;
 justify-content: flex-end;
}